.content
  .content__wrap
    .wrapper
      .content__layout
        .content__inner
          .content__info
            .content__title
              | 6000 рублей за 15 минут 
              span.content__title-black
                |и другие особенности бизнес-модели iPochino
            .content__info-description
              | Проводите ремонт устройств самостоятельно или наймите обученных мастеров в штат.
              p Для полноценного общения и отдыха, работы, учёбы, занятия любимым делом многие современные люди пользуются смартфоном, 
                |планшетом, ноутбуком и беспроводными наушниками.
              p Поломка техники, в том числе цифровой, может стать серьёзной проблемой. 
                |Из-за высоких цен на рынке новой цифровой техники людям выгоднее отдавать неисправные гаджеты на ремонт.
              p Независимо от причины поломки не обойтись без помощи квалифицированного мастера, 
                |и в таких непростых ситуациях люди обращаются в ближайший или удобный по расположению специализированный сервисный центр, 
                |где можно восстановить свой любимый гаджет.
          .content__aside
            .content__aside-title
              .content__aside-rotate Ipochino
            .content__aside-bg
              img(src='images/aside-bg.png' alt="aside-bg" width="600" height="647").aside-bg
              .content__aside-image(class="wow slideInRight" data-wow-duration="1s")
                img(src='images/aside-image.png' alt="aside-image" width="631" height="856").aside-image
        .content__services
          .content__services-title
            | Самые популярные обращения в сервисный центр
            | по вопросам ремонта техники Apple и Android:
          .services
            ul.services__list
              li.services__item
                .services__item-inner
                  .services__item-box
                    .services__item-index 01
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-display.png' alt="services-display" width="176" height="176").services-img
                .services__item-description
                  | Замена разбитого экрана;
              li.services__item
                .services__item-inner
                  .services__item-index 02
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-aqua.png' alt="services-aqua" width="176" height="176").services-img
                .services__item-description
                  | Починка после попадания жидкости в корпус;
              li.services__item
                .services__item-inner
                  .services__item-box
                    .services__item-index 03
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-lid.png' alt="services-lid" width="176" height="176").services-img
                .services__item-description
                  | Замена задней крышки гаджета из-за царапин и сколов;
              li.services__item
                .services__item-inner
                  .services__item-box
                    .services__item-index 04
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-battery.png' alt="services-battery" width="176" height="176").services-img
                .services__item-description
                  | Замена изношенной батареи;
              li.services__item
                .services__item-inner
                  .services__item-box
                    .services__item-index 05
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-camera.png' alt="services-camera" width="176" height="176").services-img
                .services__item-description
                  | Замена или ремонт повреждённой камеры;
              li.services__item
                .services__item-inner
                  .services__item-box
                    .services__item-index 06
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-speaker.png' alt="services-speaker" width="176" height="176").services-img
                .services__item-description
                  | Устранение проблем с микрофоном или динамиком;
              li.services__item
                .services__item-inner
                  .services__item-box
                    .services__item-index 07
                  .services__item-image(class="wow slideInDown" data-wow-duration="1s")
                    img(src='images/services-software.png' alt="services-software" width="176" height="176").services-img
                .services__item-description
                    | Диагностика проблем с ПО или помощь с настройками смартфона или планшета.
  .content__meta
    .wrapper
      .content__meta-title
        | По франшизе iPochino вы будете оказывать услуги по ремонту 
        br
        |смартфонов, планшетов, смарт-часов, ноутбуков и других устройств 
        br
        | под управлением IOS и Android:
      .content__meta-inner
      ul.content__meta-list
        li.content__meta-item
          .content__meta-image(class="wow slideInRight" data-wow-duration="1s")
            img(src='images/content-apple.png' alt="meta-image" width="195" height="107").aside-image
        li.content__meta-item
          .content__meta-image(class="wow slideInRight" data-wow-duration="1s")
            img(src='images/content-honor.png' alt="meta-image" width="195" height="107").aside-image
        li.content__meta-item
          .content__meta-image(class="wow slideInRight" data-wow-duration="1s")
            img(src='images/content-samsung.png' alt="meta-image" width="195" height="107").aside-image
        li.content__meta-item
          .content__meta-image(class="wow slideInRight" data-wow-duration="1s")
            img(src='images/content-huawei.png' alt="meta-image" width="195" height="107").aside-image
        li.content__meta-item
          .content__meta-image(class="wow slideInRight" data-wow-duration="1s")
            img(src='images/content-xiaomi.png' alt="meta-image" width="195" height="107").aside-image
  .content__payment
    .content__payment-bg
      .wrapper
        .content__payment-inner
          .content__payment-title
            | 3 направления, которые будут генерировать 
            br
            span.content__payment-title-red от 350 до 400 чеков ежемесячно
          .content__payment-card
            ul.payment-cards
              li.payment-cards__item
                .card
                  .card__title Ремонт техники Apple и Android в сервисном центре
                  .card-item
                    .card-item__icon
                      img(src='images/card-money.png' alt="card-money" width="31" height="31")
                    .card-item__description Доля выручки:
                      span.card-item__price 25%
                  .card-item
                    .card-item__icon
                      img(src='images/card-receipt.png' alt="card-receipt" width="31" height="31")
                    .card-item__description
                      .card-item__text Средний чек:
                      .card-item__text-inner
                        span.card-item__price 6000
                        | рублей
                  .card-item
                    .card-item__icon
                      img(src='images/card-shopping.png' alt="card-shopping" width="31" height="31")
                    .card-item__description
                      .card-item__text Количество продаж:
                      .card-item__text-inner
                        span.card-item__text от
                        span.card-item__price 85
                        span.card-item__text до
                        span.card-item__price 100
              li.payment-cards__item
                .card
                  .card__title Продажа акссесуаров
                  .card-item
                    .card-item__icon
                      img(src='images/card-money.png' alt="card-money" width="31" height="31")
                    .card-item__description Доля выручки:
                      span.card-item__price 25%
                  .card-item
                    .card-item__icon
                      img(src='images/card-receipt.png' alt="card-receipt" width="31" height="31")
                    .card-item__description
                      .card-item__text Средний чек:
                      .card-item__text-inner
                        span.card-item__price 6000
                        | рублей
                  .card-item
                    .card-item__icon
                      img(src='images/card-shopping.png' alt="card-shopping" width="31" height="31")
                    .card-item__description
                      .card-item__text Количество продаж:
                      .card-item__text-inner
                        span.card-item__text от
                        span.card-item__price 85
                        span.card-item__text до
                        span.card-item__price 100
              li.payment-cards__item
                .card
                  .card__title Перепрошивка и чистка
                  .card-item
                    .card-item__icon
                      img(src='images/card-money.png' alt="card-money" width="31" height="31")
                    .card-item__description Доля выручки:
                      span.card-item__price 25%
                  .card-item
                    .card-item__icon
                      img(src='images/card-receipt.png' alt="card-receipt" width="31" height="31")
                    .card-item__description
                      .card-item__text Средний чек:
                      .card-item__text-inner
                        span.card-item__price 6000
                        | рублей
                  .card-item
                    .card-item__icon
                      img(src='images/card-shopping.png' alt="card-shopping" width="31" height="31")
                    .card-item__description
                      .card-item__text Количество продаж:
                      .card-item__text-inner
                        span.card-item__text от
                        span.card-item__price 85
                        span.card-item__text до
                        span.card-item__price 100
          .content__payment-subtitle В качестве дополнительного сервиса можно предлагать клиенту тариф «Выездной 
            br 
            | ремонт». 
            span.content__payment-subtitle-normal Ребята в брендированной форме выезжают к заказчику и на месте ремонтируют устройство. В месяц бывает порядка 
            |10-20 продаж со средним чеком от 6 000 рублей.
          .content__payment-feedback
            .feedback
              .feedback__description
                .feedback__description-red С удовольствием ответим на любые ваши вопросы
              form.feedback__form
                  .feedback__input
                    .input
                      .input__icon
                        img(src='images/phone-input.png' alt="input-icon" width="17" height="17").input-icon
                      input(type="tel" data-inputmask="'mask': '+7 (999) 999-9999'" placeholder="+7 (___) ___-____").input__field
                  .feedback__input
                    .input
                      .input__icon
                        img(src='images/mail-input.png' alt="input-icon" width="18" height="14").input-icon
                      input(type="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" placeholder="bestpartner@mail.ru").input__field
                  .feedback__input
                    .input
                      .input__icon
                        img(src='images/user-input.png' alt="input-icon" width="18" height="22").input-icon
                      input(type="text" placeholder="Сантурян Тигран").input__field
                  .feedback__button
                    button.btn(type="submit") Получить информацию
              .feedback__agree
                    | Нажимая кнопку «Получить информацию», 
                    | я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных 
                    br
                    | на условиях и для целей, определяемых Политикой конфиденциальности