$base-font-family = "Gotham-Pro"

$breakpoints = {
  xs: 320px,
  sm: 576px,
  md: 890px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
}

$color-primary = #74ee15
$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-dark = #333333
$color-white = #ffffff
$color-grey = #a7a7a7
$color-red = #f61911
$color-black = #000000
